<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
    {% extends 'video_app/main.html' %}
    {% load static %}
    {% block content %}
        <main>
            <section id="room-name-wrapper">
                <p>Room Name: <span id="room-name"></span></p>
            </section>

            <section id="video-streams">

                <div class="video-container" is="user-container-1">
                    <div class="username-wrapper"><span class=""></span>My name</div>
                    <div class="video-player" id="user-1"></div>
                </div>

                <div class="video-container" is="user-container-1">
                    <div class="username-wrapper"><span class=""></span>My name</div>
                    <div class="video-player" id="user-2"></div>
                </div>

            </section>
        </main>
    <script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.10.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
    {% endblock content %}
</body>
</html>